# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite
packet_log.txt

# Packet capture files
*.pcap
*.pcapng

# OS specific files
.DS_Store
Thumbs.db
